{# src\OC\PlatformBundle\Resources\views\Advert\view_slug.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Tests possibilités</title>
    </head>
    <body>
        <h1>Exemples illustrés de la syntaxe Twig !</h1>
        
        {{ content }}
        <br/>
        <!-- {#
        <h2>Condition : {\% if %}</h2>
        <div>
            {% if membre.age < 12 %}
                Il faut avoir au moins 12 ans pour ce film.
            {% elseif membre.age < 18 %}
                OK bon film.
            {% else %}
                Un peu vieux pour voir ce film non ?
            {% endif %}
        </div>
        <br/>
        
        <h2>Boucle : {\% for %} définit une variable {\{ loop }}</h2>
        <div>
            <ul>
                {% for membre in liste_membres %}
                    <li>{{ membre.pseudo }}<li/>
                {% else %}
                    <li>Pas d'utilisateur trouvé.</li>
                {% endfor %}
            </ul>
            <select>
                {% for valeur, option in liste_options %}
                    <option value="{{ valeur }}">{{ option }}</option>
                {% endfor %}
            </select>
        </div>
        <br/>
        
        <h2>Definition : {\% set %}</h2>
        <div>
            {% set foo = "bar" %}
        </div>
        <br/>
        
        <h2>Defined : Pour vérifier si une variable existe</h2>
        <div>
            {% if var is defined %}
                bidule
            {% endif %}
        </div>
        <br/>
        
        <h2>Even/Odd</h2>
        <div>
            {% for valeur in liste %}
                <span class="{% if loop.index is even %}
                                pair
                             {% else %}
                                impair
                             {% endif %}
                ">
                    {{ valeur }}
                </span>
            {% endfor %}
        </div>
        <br/>
        #} -->
    </body>
</html>

